:root {
	--color-azul: #003c71;
	--color-azulHover: #003c72db;
	--color-rojo: #c81a1b;
	--color-rojoHover: #bc3030db;
	--color-negro: #000;
	--color-blanco: #ffffff;
	--color-secundario: #7b7b7b;
	--color-hr: #d8d8d8;
	--color-fondoSecundario: #f5f5f5;
	--color-fondoIconos: #f3f3f6;
	--color-fondoTrabajos: #fbfbfb;
	--color-fondonaranja: #ff510070;
	--color-naranja: #ff5100;
	--color-naranjaHover: #ff5100d4;
	--color-coral: #fe696a;
	--color-footer: #282828;
	--color-amarillo: #f7eb3f;
}
img, span{user-select: none;}
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-azulHover);
	border-radius: 5px;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-hr);
}

/* body {
	font-family: 'Poppins', sans-serif;
} */
*:focus{
	outline:none !important;  
}
body{
	background: #F8FBFE;
	color: #37404e;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
}
.badge{ font-family: 'Poppins' !important;}
/* main {
	max-width: 1200px;
} */
select#filtro-trabajos option {	font-size: 13px;}
.pagination .pages { padding: 0 10px; line-height: 40px; }
.pagination .page-link, .page-item.disabled .page-link { background: #FE5000; border-radius: 50px !important; width: 40px; height: 40px; line-height: 38px; padding: 0 14px; font-size: 24px; border: 0px; color: #fff; }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.heading-main-info {
		display: block;
		padding-left: 0;
		text-align: center;
	}
	#sec-sup-perfil{
		display: grid;
		place-items: center;
	}
}
nav ul li a {
	font-size: .9rem;
}

.btn:focus {
	outline: 1.9px solid var(--color-azul) !important;
}
.was-validated :invalid{
	border: 1px solid #9b2727;
}
.invalid-tooltip{
	color: rgba(220,53,69,.9) !important;
	background-color: transparent !important;
	top: 95% !important;
	margin: 0 !important;
}
.croppie-container .cr-viewport:focus{ box-shadow: 0 0 2000px 2000px rgb(0 0 0 / 50%) !important }
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #003c71;
	border-radius: 30px 30px 0 0;
}
.tabs-generales {
	margin-bottom: 30px;
}
/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	width: 100%;
	padding: 14px 10px;
	transition: 0.3s;
	color: #fff;
	font-size: 14px;
}
/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #0b5ed7;
	color: #fff;
}
/* Create an active/current tablink class */
.tab button.active {
	background-color: #0b5ed7;
	color: #fff;
}
/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #cfcfcf;
	border-top: none;
	border-radius: 0 0 6px 6px ;
	background: #fff;
}
.btn.tarifas {
	padding: 8px 8px;
	font-size: 12px;
	margin-top: 10px;
}
.planes-perfil .mes-tachado {
	text-decoration: line-through; 
	color: #88929b; 
	font-size: 15px; 
	line-height: 20px;
	display: block;
}
.planes-perfil .mes-tachado.abajo, .planes-perfil .text-month.abajo {
	display: block;
	font-size: 65% !important;
}
.planes-perfil .mxn-p {
	font-size: 50%;
}
.planes-perfil .box-pricing-item.most-popular .mes-tachado {
	color: #fff;
}
.planes-perfil .box-pricing-item.abajo {
	padding: 10px 0px;
	width: auto;
	display: block;
}
.planes-perfil .box-pricing-item.abajo .box-info-price {
	padding-bottom: 0px;
}
.planes-perfil .col-uno, .planes-perfil .col-dos, .planes-perfil .col-tres, .planes-perfil .col-cuatro {
	width: 17%;
}
.planes-perfil .block-pricing .box-pricing-item, .planes-perfil .block-pricing .most-popular  {
	padding: 20px;
	text-align: center;
}
.planes-perfil .block-pricing .box-info-price .text-price {
	font-size: 30px;
	/*line-height: 30px;*/
	margin-right: 0px;
}
.planes-perfil .block-pricing h4 {
	font-size: 21px;
	line-height: 24px;
	}
.planes-perfil .block-pricing .box-pricing-item .display-month {
	display: block;
}
.tabla-tarifas-danger{
	color: #fe5000;
}
.tabla-tarifas-success{
	color:#003B71;
}
.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
}
.input-search{
	height: 40px;
	width: 40px;
	border-style: none;
	padding: 0;
	font-size: 13px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: #003c71;
	padding-right: 40px;
	color:#fff;
}
.input-search::placeholder{
	color:#ffffffbd;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 300;
}
.btn-search{
	width: 40px;
	height: 40px;
	border-style: none;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color:#fff ;
	background-color:transparent;
	pointer-events: painted;
	text-align: center;  /*version2*/
	top: 20%;  /*version2*/
}
.tooltips {
	position: relative;
	display: inline-block;
	border-bottom: 0px dotted black;
}

.tooltips .tooltiptext {
	visibility: hidden;
	width: 240px;
	background-color: black;
	color: #fff;
	opacity: 0.9;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	border-radius: 10px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	border-top: 2px solid #fe5000;
	top: -20px;
	left: 25px;
}

.tooltips i:hover {
	cursor: pointer;
}

.tooltips .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.tooltips:hover .tooltiptext {
	visibility: visible;
}
/*.btn-search:focus ~ .input-search{*/
/*  width: 300px;*/
/*  padding-left: 10px;*/
/*  background-color: #003c71;*/
/*  border-bottom:1px solid rgba(0,60,113,.5);*/
/*  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);*/
/*}*/
/*.input-search::-webkit-search-cancel-button{*/
/*  -webkit-appearance: none;*/
/*  -moz-appearance:none;*/
/*}*/
/*.input-search:focus{*/
/*  width: 300px;*/
/*  padding-left: 10px;*/
/*  background-color: #003c71;*/
/*  border-bottom:1px solid rgba(0,60,113,.5);*/
/*  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);*/
/*}*/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label, .inputfile + .tooltips label {
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	padding: 0.625rem 1.25rem;
	text-align: center;
}

.inputfile+label svg, .inputfile + .tooltips label svg {
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	margin-right: 0.25em;
}

.inputfile+label, .inputfile + .tooltips label {
	color: #fff;
	background-color: var(--color-azul);
}

.inputfile:text()focus+label, .inputfile.text()has-focus+label, .inputfile+text()label:hover {
	background-color: var(--color-azulHover);
}

.lista{
	position: relative;
	list-style: none;
	padding-left: 12px;
}
.lista::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 24px;
	width: 1px;
	height: calc(100% - 32px);
	background: #ddd;
}
.lista .circulo{
	display: block;
	position: relative;
	padding-top: 16px;
	padding-bottom: 16px;
}
.lista .circulo::before{
	content: "";
	position: relative;
	width: 24px;
	height: 24px;
	border: 1px solid #ddd;
	display: inline-block;
	background: #f5f5f8;
	margin-right: 8px;
	border-radius: 50%;
	margin-bottom: -8px;
}
.lista .circulo.active::after{
	content: "";
	position: absolute;
	top: 19px;
	left: 4px;
	width: 18px;
	height: 18px;
	display: block;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJCQkgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgoJCTxwYXRoIGZpbGw9IiMwODNjYWUiIGQ9Ik0xOC4zLDcuM2wxLjQsMS40bC04LjcsOWMtMC40LDAuNC0xLDAuNC0xLjQsMC4xbC00LjMtMy42bDEuMy0xLjVsMy42LDNDMTAuMiwxNS42LDE4LjMsNy4zLDE4LjMsNy4zeiIvPgoJCTwvc3ZnPg==);
}
#carrusel-movil .carousel-control-prev-icon,
#carrusel-escritorio .carousel-control-prev-icon {
	background: url('../images/iconos/prev.webp') center no-repeat;
}

#carrusel-movil .carousel-control-next-icon,
#carrusel-escritorio .carousel-control-next-icon {
	background: url('../images/iconos/next.webp') center no-repeat;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
	width: 50px;
	height: 80px;
	opacity: 1;
	top: 40%;
}
#carruselSlide .carousel-control-prev,
#carruselSlide .carousel-control-next {
	width: 50px;
	height: 80px;
	opacity: 1;
	top: 50%;
}
#carruselSlide{
	margin-top: -150px;
}

.carousel .btn-Iqz {
	background-color: var(--color-blanco);
	border-radius: 0 5px 5px 0;
}

.carousel .btn-Der {
	background-color: var(--color-blanco);
	border-radius: 5px 0 0 5px;
}

.carousel .margenDer,
.carousel .margenIzq {
	height: 50px;
	border-radius: 50px;
	background: #e2e2e2;
	box-shadow: 0 0 3px 0 #cacaca;
}

.carousel .margenIzq {
	left: 15px;
}

.carousel .margenDer {
	right: 15px;
}

.carrusel-texto {
	left: 15px;
}
.br-10{
	border-radius: 10px !important;
}
/*.carousel .carousel-control-prev{left: -30px;}
	.carousel .carousel-control-next{right: -30px;}*/
.img-carrusel {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.div-azul,
.underline,
.underline-nav {
	position: relative;
}

.div-azul:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background-color: var(--color-azul);
}

.underline::after,
.underline-nav::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--color-blanco);
	left: 0;
	bottom: 0;
}

.underline-nav::after {
	height: 2px;
}

.text-azul {
	color: var(--color-azul);
}

.text-naranja {
	color: var(--color-naranja);
}

.text-secundario {
	color: var(--color-secundario);
}

.btn-azul {
	color: var(--color-blanco);
	font-size: .8rem;
	background-color: var(--color-azul);
	border: 0;
}

.btn-azul:hover {
	color: var(--color-blanco);
	background-color: var(--color-azulHover);
}

.btn-ver-proyecto:hover {
	color: var(--color-blanco);
	background-color: var(--color-azul);
}

.outline-blanco {
	outline: 1px solid var(--color-blanco);
}

.btn-out-naranja:hover {
	color: var(--color-naranja)
}

.btn-out-naranja {
	background-color: var(--color-naranja);
	border-color: var(--color-naranja);
}

.btn-outline-naranja:hover,
.btn-secundario {
	outline: 1px solid var(--color-naranja);
	background-color: var(--color-blanco);
	color: var(--color-negro) !important;
}

.btn-outline-naranja,
.btn-secundario:hover {
	background-color: var(--color-naranja);
	border-color: var(--color-naranja);
	color: var(--color-blanco) !important;
}

.btn-outline-negro {
	background-color: var(--color-blanco);
	outline: 2px solid var(--color-negro);
}

.btn-outline-light,
.btn-out-naranja,
.btn-rojo,
.btn-azul,
.btn-outline-naranja,
.btn-naranja {
	font-size: 13px;
	border-radius: 0;
}
.border-azul{
	border: 1px solid #003c7185;
}





.btn-rojo,
.btn-ver-proyecto,
.btn-siguiente {
	color: var(--color-blanco);
	font-size: .8rem;
	background-color: var(--color-rojo);
	border: 0;
}
.btn-ver-proyecto {
	color: var(--color-blanco);
	background-color: var(--color-azul);
}
.btn-azul-home{
	color: var(--color-blanco);
	background-color: var(--color-azul);
}
.btn-blanco{
	color: var(--color-azul);
	background-color: var(--color-blanco);
}
.btn-siguiente {
	color: var(--color-blanco);
	background-color: var(--color-negro);
}

.btn-siguiente:hover {
	color: var(--color-blanco);
	background-color: var(--color-negro);
}

.btn-rojo:hover {
	color: var(--color-blanco);
	background-color: var(--color-rojoHover);
}
.btn-azul-home:hover{
	color: var(--color-blanco);
}

.btn-buscar,
.btn-naranja {
	outline: 1px solid var(--color-naranja);
	text-decoration: none;
	color: var(--color-blanco);
	background-color: var(--color-naranja);
}
.btn-circulo-naranja{
	background-color: #FE5000 !important;
	color: #ffffff !important;
	text-decoration: none;
	cursor: pointer;
	/*outline: 1px solid #FE5000 ;*/
	border-radius: 100% !important;
	/*width: 220px;*/
	/*height: 220px;*/
	display: flex !important;
	justify-content: center;
	align-items: center;
	font-size: 90px;
	margin: 10px;
}
.btn-circulo-naranja i{
	font-size: 90px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.wh-180{
		width: 80px !important;
		height: 80px !important;
	}
	.btn-circulo-naranja{
		width: 80px;
		height: 80px;
		font-size: 40px !important;
	}
	.btn-circulo-naranja i{
		font-size: 40px;
	}
	.btn-blanco-redondo-home{
		width: 80px !important;
		height: 80px !important;
		font-size: 40px;
		margin: auto;
	}
	.list-recent-jobs .card-job{
		border-radius: 6px !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.wh-180{
		width: 100px !important;
		height: 100px !important;
	}
	.btn-circulo-naranja{
		width: 150px !important;
		height: 150px !important;
	}
	.btn-circulo-naranja i{
		font-size: 40px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.wh-180{
		width: 100px !important;
		height: 100px !important;
	}
	.btn-circulo-naranja i{
		font-size: 40px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.tooltips .tooltiptext{
		top: inherit;
    	left: 102%;
	}
	
	a:hover {
		transition: all .8s;
		transform: scale(.95);
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.wh-180{
		width: 180px !important;
		height: 180px !important;
	}
	.btn-circulo-naranja i{
		font-size: 90px;
	}
	.btn-circulo-naranja{
		width: 220px !important;
		height: 220px !important;
	}
}

.notificacion-header{
    position: absolute;
    right: 0;
    top: 24px;
    width: 22px;
    height: 22px;
    border-radius: 50rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75em;
    font-weight: 700;
    color: #fff;
}

.btn-naranja-circular-home {
  background-color: #FE5000 !important;
  color: #ffffff !important;
  padding: 35px 20px 35px !important;
  height: 110px;
  text-decoration: none;
  border-radius: 100% !important;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 10px; 
  line-height: 20px;
}
.btn-naranja-circular{
	background-color: #FE5000;
	color: #ffffff !important;
	padding: 35px;
	text-decoration: none;
	/*outline: 1px solid #FE5000;*/
	border-radius: 100%;
}
.btn-blanco-redondo-home{
	width: 120px;
	height: 120px;
	background-color: #ffffff !important;
	font-size: 48px !important;
	border-radius: 100% !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.btn-blanco-redondo{
	background-color: #ffffff;
	padding: 35px 43px;
	font-size: 32px;
	text-decoration: none;
	outline: 1px solid #ffffff;
	border-radius: 100%;
}
.btn-buscar {
	outline: 0;
}

.btn-naranja:hover {
	background-color: var(--color-blanco);
	color: var(--color-naranja);
}

.btn-buscar:hover {
	color: var(--color-blanco);
	background-color: var(--color-naranjaHover);
}

.ver-mas {
	color: var(--color-coral);
	cursor: pointer;
}

.buscar:focus-visible,
.ciudad:focus-visible {
	box-shadow: 0px 0px 6px 3px var(--color-azul);
	outline: 0;
}

.buscar,
.ciudad,
.btn-buscar {
	padding-top: .8rem;
	padding-bottom: .8rem;
}

.ciudad {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.buscar {
	padding-top: .85rem;
	padding-left: .8rem;
	padding-right: .8rem;
	padding-bottom: 0.85rem;
}

.buscar::placeholder,
.text-font,
.footer li a {
	font-size: 14px !important;
}

.text-font2 {
	font-size: 11px;
}

.btn-outline-rojo {
	color: var(--color-azul);
	font-size: .8rem;
	outline: 1px solid var(--color-rojo);
	border-radius: 0;
	border: 0;
}

.fondo_principal {
	position: relative;
	background: url('../images/front/header.webp') center no-repeat;
	background-color: #d47d2e;
	background-size: cover;
}

.fondo-opciones::before,
.fondo-opciones::after {
	content: '';
	position: relative;
	height: 5px;
	width: 100%;
	top: -3rem;
}

.fondo-opciones::before {
	background-color: var(--color-azul);
}

.fondo-opciones::after {
	background-color: var(--color-naranja);
	top: 3rem;
}

.fondo-footer {
	background-color: #F5F5F5;
}

.fondo-opciones {
	position: relative;
	background: url('../images/Fondo-opciones.webp') center no-repeat;
	background-size: cover;
}

.fondo-secundario {
	background-color: rgba(238, 247, 255, 1);
}

.fondo-trabajos {
	background-color: var(--color-fondoTrabajos);
}

.fondo-card {
	background-color: var(--color-fondoIconos);
}

.fondo-card-header1 {
	background-color: var(--color-azul);
}

.fondo-card-header2 {
	background-color: var(--color-rojo);
}

.icon-top-perfil {
	color: var(--color-blanco);
	background-color: var(--color-naranja);
}

.icon-calificacion {
	color: var(--color-amarillo);
}

.fa-facebook,
.fa-google {
	background-color: var(--color-blanco);
}

.fa-facebook {
	font-size: 17px;
	padding-top: 7px;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	color: var(--color-azul);
}

.fa-calendar-alt,
.fa-history,
.fa-address-book,
.fa-id-badge {
	color: var(--color-azul);
}

.fa-map-marker-alt:before {
	padding: .2rem;
}

/* .shadow {
	box-shadow: 0px 0px 2px 0px #cacaca, 0px 0px 5px 0px #DDEF !important;
} */

.servicios {
	background: url('../images/Fondo-categorias.webp') center no-repeat;
	background-size: cover;
}

.servicios img {
	height: 60px;
	width: 60px;
}

.servicios .badge {
	padding: 0.9em;
	font-size: 0.8em;
	color: var(--color-naranja);
	background-color: var(--color-fondonaranja);
}

.lista-ventajas p i {
	color: var(--color-rojo);
}

.trabajos {
	position: relative;
	overflow: hidden;
}

.trabajos::before {
	content: '';
	position: absolute;
	width: 6%;
	height: 20%;
	background-color: var(--color-azul);
	top: -28px;
	left: -10px;
	transform: rotate(45deg);
	box-shadow: 0 .5px 10px rgba(0, 0, 0, .3);
}

.trabajos .destacados {
	position: relative;
}

.trabajos .destacados::before {
	position: absolute;
	top: -10px;
	left: -10px;
	font-size: 0.8rem;
	color: var(--color-blanco);
}

.footer-poup {
	border-radius: .8rem !important;
	position: absolute;
	top: -18%;
}

@media (min-width: 1200px) {
	.trabajos::before {
		top: -28px;
		left: -24px;
	}

	.footer-poup {
		top: -50%;
	}

	.w-lg-75 {
		width: 75% !important;
	}
}

/*@media (min-width: 576px){
		.modal-dialog {
			max-width: 575px !important;
		}
	}*/
.publicar-proyecto {
	border: 1px solid #ffefd4;
	color: #ffefd4;
	animation: botones 2s linear infinite;
}

@keyframes botones {
	0% {
		opacity: 1;
		transform: scale(1);
		box-shadow: 0 0 2px 5px #dd861538;
	}

	100% {
		opacity: .9;
		box-shadow: 0 0 2px 7px #c37f2661;
	}

	25% {
		opacity: .85;
		transform: scale(.96);
		box-shadow: 0 0 3px 2px #dd861578;
	}
}

.navbar-toggler {
	border: 1px solid var(--color-blanco);
	padding: 1px 6px
}

.navbar-toggler:focus {
	box-shadow: 0 0 0 0.05rem var(--color-blanco);
}

.navbar-toggler-icon {
	color: var(--color-blanco);
}

.cerrar-modal:hover {
	color: var(--color-hr) !important;
}

.modal-fullscreen .btn.cerrar-modal{
	top: 10px;
	right: 10px;
}

.btn.cerrar-modal {
	position: absolute;
	top: -20px;
	right: -20px;
	color: var(--color-blanco);
	background-color: var(--color-azul);
	border-radius: 50px !important;
	font-size: 18px;
	box-shadow: 0 0 5px 0px var(--color-azul);
	line-height: 1.5;
}

.flip-box {
	background-color: transparent;
	width: 260px;
	height: 260px;
	perspective: 1000px;
	border-radius: 100%;
	border-color: rgba(254, 80, 0, 0.71);
	font-size: 14px;
}

.flip-box-inner {
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
	border-radius: 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-box-back {
	transform: rotateY(180deg);
}

.contenedor-registrate {
	bottom: -1rem;
	z-index: 1;
}

.contenedor-registrate a {
	font-size: 16px;
}

.text-rojo {
	color: var(--color-rojo);
}

.fs-12{
	font-size: 12px !important;
}
.btn-empecemos{
	background-color: #ffffff !important;
	border-radius: 20px !important;
	padding: 15px 30px !important;
}
.btn-sm-banner{
	padding: 10px !important;
}
/***************************--INGRESAR CUENTA--***************************/
.mextemps-hr::before {
	content: '';
	position: absolute;
	bottom: 30px;
	right: 1.5rem;
	width: 35%;
	height: .5%;
	background-color: var(--color-hr);
}

.mextemps-hr::after {
	content: '';
	position: absolute;
	bottom: 30px;
	left: 1.5rem;
	width: 35%;
	height: .5%;
	background-color: var(--color-hr);
}

.logo-hr {
	bottom: -30px;
	left: calc((100% - 30px) - 50%);
}

.inputs-form {
	width: 100%;
	border-radius: 0.5rem;
	border: 0;
	padding: .5rem;
	background-color: var(--color-fondoSecundario);
}

.inputs-form:focus-visible {
	outline: 2px solid var(--color-naranjaHover);
}

.check::before {
	content: '';
	position: absolute;
	border-radius: 50px;
	border: 3px solid var(--color-hr);
	background-color: var(--color-fondoSecundario);
	width: 16px;
	height: 16px;
	left: -18px;
	bottom: 2px;
}

.text-check {
	cursor: pointer;
}

.text-check input[type="checkbox"]:checked~.check::after,
.text-check input[type="radio"]:checked~.check::after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	left: -14px;
	bottom: 6px;
	background: var(--color-azul);
	border-radius: 50px;
}

.opciones-ingresar {
	cursor: pointer;
}

.g_id_signin iframe {
	margin: 0 auto !important;
}

.contenedor-ojo {
	position: relative;
	display: block;
}

.icon-ojo {
	position: absolute;
	right: 0;
}

/***************************--COMO FUNCIONA--***************************/
.banner-seccion {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--color-hr);
}

.titulo-banner {
	color: var(--color-blanco);
}

.card-imagen-nosotros {
	background-color: var(--color-blanco);
	max-height: 400px;
	border-radius: 5px;
}

.imagen-card-nosotros {
	border-radius: 5px;
}

.card-info-nosotros {
	position: relative;
	top: 0;
	transition: top ease 0.7s;

	background-color: var(--color-blanco);
	max-height: 300px;
	height: 300px;
	border-radius: 5px;
	box-shadow: -4px 7px 28px 10px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: -4px 7px 28px 10px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: -4px 7px 28px 10px rgba(0, 0, 0, 0.21);
}

.card-info-nosotros:hover {
	top: -10px;
}

.centrar-div-card {
	place-self: center;
}

.info-card-right {
	margin-left: -45px;
}

.info-card-left {
	margin-right: -45px;
}

.indicador-left {
	margin-left: -45px;
}

.indicador-right {
	margin-right: -45px;
}

.div-sup {
	z-index: 3;
}

.div-inf {
	z-index: 2;
}

.icono-card-nosotros {
	font-size: 25px;
	padding: 10px;
	color: var(--color-fondoIconos);
}

.indicador-numero {
	background-color: var(--color-rojo);
	padding: 10px 21px;
	font-size: 20px;
	color: var(--color-blanco);
	border-radius: 100%;
}

.texto-card {
	font-size: 12px;
}

@media (max-width: 576px) {
	.info-card-right {
		margin-left: 0;
	}

	.info-card-left {
		margin-right: 0;
	}

	.indicador-left {
		margin-left: 0px;
	}

	.indicador-right {
		margin-right: 0px;
	}

	.card-info-nosotros {
		margin: -45px 15px 0 15px
	}

	.sec-imagen-card {
		order: 1;
	}

	.sec-info-card {
		order: 2;
	}

	.col-indicador {
		margin-top: -25px;
	}
	/*.tab {*/
 /*     border: 1px solid var(--color-naranja) !important;*/
 /*     background-color: var(--color-blanco);*/
 /*   }*/
	/*.tab button {*/
 /*     border: none;*/
 /*     outline: 1px solid var(--color-naranja);*/
 /*     color: #000;*/
 /*   }*/
	/* Change background color of buttons on hover */
 /*   .tab button:hover {*/
 /*     background-color: var(--color-naranja);*/
 /*     color: #fff;*/
 /*   }*/
	/* Create an active/current tablink class */
 /*   .tab button.active {*/
 /*     background-color: var(--color-naranja);*/
 /*     color: #fff;*/
 /*   }*/
}

/***************************--PUBICA TU PROYECTO--***************************/
textarea.inputs-form, textarea.form-control {
	resize: none;
	height: 130px;
}
textarea.inputs-form.tarea {
	resize: none;
	height: 60px;
}
textarea.altura {
	height: 225px;
}

.fondo-secundario .nav-tabs .nav-link {
	border-radius: 50px;
}

.fondo-secundario .nav-tabs .nav-link:focus,
main .nav-link {
	color: var(--color-negro);
}

.nav-link:focus,
.nav-link:hover {
	color: var(--color-azulHover);
}

.fondo-secundario .nav-tabs .nav-item.show .nav-link,
.fondo-secundario .nav-tabs .nav-link.active {
	position: relative;
	color: var(--color-blanco);
	border: 1px solid transparent;
	background-color: var(--color-negro);
}

.fondo-secundario .nav-tabs .nav-item.show .nav-link,
.fondo-secundario .nav-tabs .nav-link.active::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	outline: 8px solid #969696;
	border-radius: 50px;
}

.fondo-secundario .nav-tabs .nav-link,
.fondo-secundario .nav-tabs .nav-link:hover {
	outline: 8px solid #e9ecef;
}

.un-digito {
	padding-left: .15rem;
	padding-right: .15rem;
}

.card-radius {
	border-radius: 0.6rem !important;
}


/***************************--CONFIRMS DEL SISTEMA--***********************/
.alertify .ajs-close{
	position: absolute !important;
	top: -20px !important;
	right: -20px !important;
	color: var(--color-blanco) !important;
	background-color: var(--color-azul) !important;
	border-radius: 50px !important;
	font-size: 18px !important;
	box-shadow: 0 0 5px 0px var(--color-azul) !important;
	line-height: 1.5 !important;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	padding-right: 1rem!important;
	padding-left: 1rem!important;
	border: 1px solid transparent !important;
}
.alertify .ajs-header{
	border-top-left-radius: 30px !important;
	border-top-right-radius: 30px !important;
	border: 0 !important;
}
.alertify .ajs-footer{
	border-bottom-left-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	border: 0 !important;
}
.alertify .ajs-dialog{
	border-radius: 30px !important;
}
.alertify .ajs-dialog {
	max-width: 400px !important;
}
/***************************--REGISTRAR CUENTA--***************************/
.ajs-message.ajs-custom {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-blanco);
	background-color: #0C6ABF;
	border-top: 1px solid #0C6ABF;
	border-bottom: 1px solid #0C6ABF;
	border-right: 1px solid #0C6ABF;
	border-left: 3px solid #FE5000;
	font-size: 13px;
	right: 400px !important;
	width: 400px;
	min-height: 125px;
}

.ajs-message.ajs-correcto {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-blanco);
	background-color: #0C6ABF;
	border-top: 1px solid #0C6ABF;
	border-bottom: 1px solid #0C6ABF;
	border-right: 1px solid #0C6ABF;
	border-left: 3px solid #FE5000;
	font-size: 13px;
	right: 400px !important;
	width: 400px;
	min-height: 125px;
}

.ajs-message.ajs-falla {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-blanco);
	background-color: #0C6ABF;
	border-top: 1px solid #0C6ABF;
	border-bottom: 1px solid #0C6ABF;
	border-right: 1px solid #0C6ABF;
	border-left: 3px solid #FE5000;
	font-size: 13px;
	right: 400px !important;
	width: 400px;
	min-height: 125px;
}

.ajs-message.ajs-advertencia {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-blanco);
	background-color: #0C6ABF;
	border-top: 1px solid #0C6ABF;
	border-bottom: 1px solid #0C6ABF;
	border-right: 1px solid #0C6ABF;
	border-left: 3px solid #FE5000;
	font-size: 13px;
	right: 400px !important;
	width: 400px;
	min-height: 125px;
}

.g-recaptcha>div {
	width: 100% !important;
}



@media (max-width: 767.98px) {
	.ajs-message.ajs-custom, .ajs-message.ajs-correcto, .ajs-message.ajs-falla, .ajs-message.ajs-advertencia {
		width: 370px;
		margin-left: 40px;
	}
	.sin_padding_suscripcion{ 
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}


/***************************--PERFILES--***************************/
.empty-img {
	padding-top: 40px;
}

.empty-img img {
	width: 30%;
}
.block-pricing .table {
	margin-bottom: 0px;
}

.img-perfil-icon {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	box-shadow: 0 2px 5px -1px #000;
	object-fit: contain;
	background-color: var(--color-blanco);
}

.img-perfil,
.img-perfil-card {
	width: 200px;
	height: 200px;
	object-fit: contain;
	border-radius: 50%;
}

.img-perfil-card {
	width: 150px;
	height: 150px;
	border-radius: 0;
}

.navegacion_datos_perfil{
	position: relative;
	display: flex;
	justify-content: center;
}
.navegacion_datos_perfil ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 10px;
	padding: 0;
	box-shadow: 0 2px 1px, 0 5px, 0 6px 3px;
}
.navegacion_datos_perfil ul li{
	position: relative;
	height: 60px;
	width: calc(80% / 5);
}
.navegacion_datos_perfil ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
.navegacion_datos_perfil ul li a .icono{
	position: relative;
	display: block;
	line-height: 65px;
	font-size: 1.5em;
	transition: .5s;
	color: #222327;
}
.navegacion_datos_perfil ul li.active a .icono{
	transform: translateY(-32px);
	color: var(--color-naranjaHover);
	text-shadow: 0 0 5px var(--color-naranjaHover);
}
.navegacion_datos_perfil ul li a .texto{
	position: absolute;
	background: var(--color-naranjaHover);
	color: var(--color-blanco);
	padding: 2px 7px;
	border-radius: 12px;
	font-weight: 400;
	font-size: .75em;
	letter-spacing: .05em;
	transition: .5s;
	opacity: 0;
	transform: translateY(15px);
	box-shadow: 0 0 5px var(--color-naranjaHover),
				0 0 25px var(--color-naranjaHover),
				0 0 50px var(--color-naranjaHover),
				0 0 200px var(--color-naranjaHover);
}
.navegacion_datos_perfil ul li.active a .texto{
	transform: translateY(-4px);
	color: var(--color-blanco);
	opacity: 1;
}
label.cabinet {
	position: relative;
	max-width: 200px;
}

label.cabinet svg {
	z-index: -1;
}

label.cabinet img:hover+svg path {
	z-index: 1;
}

label.cabinet img:hover+svg {
	z-index: 1;
}

label.cabinet img:hover {
	filter: brightness(0.8);
	transition: all .5s;
}

label.cabinet img:hover svg {
	z-index: 1 !important;
	transition: all .5s;
}

fieldset {
	border: 1px solid;
	padding: revert;
}

legend {
	float: none;
	width: auto;
	padding: 0 14px;
	margin-bottom: 0.5rem;
	font-size: inherit;
	line-height: inherit;
}

/*label.cabinet img{ cursor: pointer; }*/
label.cabinet {
	display: block;
	cursor: pointer;
}

label.cabinet input.file {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	margin-top: -30px;
}

figure figcaption {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	padding-left: 9px;
	padding-bottom: 5px;
	text-shadow: 0 0 10px #000;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.badge_eliminar {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.badge_eliminar::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #cc6464, #dd3c3c, #d33131);
	z-index: 1;
	border-radius: 5px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s ease-in-out;
}

.badge_eliminar:hover::before {
	transform: scaleX(1);
}

.badge_eliminar span {
	transition: transform 0.4s ease-out;
}

.badge_eliminar span:first-child {
	display: inline-block;
	padding: 10px;
}

.badge_eliminar span:last-child {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -8px;
	display: flex;
	align-items: center;
	justify-content: start;
	transform: translateY(0%);
}

.badge_eliminar:hover span:first-child {
	transform: translateY(100%);
}

.badge_eliminar:hover span:last-child,
.badge_eliminar[data-animation] a:hover span:last-child {
	transform: none;
}

.badge_eliminar span:last-child {
	transform: translateY(100%);
}

.badge_eliminar:hover span:first-child {
	transform: translateY(0%);
}

.contenedor_checks{cursor:pointer;}
.contenedor_checks.active{
	transition: all .3s;
	box-shadow: inset 0.25em 0 0 0 rgb(254, 80, 0);
}
.contenedor_checks:not(.active):hover  {
	transition: all .3s;
	background: #f7f7f7;
	box-shadow: inset 0.25em 0 0 0 rgb(254 80 0 / 80%);
}
.contenedor_checks input[type="radio"]{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.add-tarjeta:not(.active):hover{
	transition: all .3s;
	background: #f7f7f7;
	box-shadow: inset 0.25em 0 0 0 rgb(254 80 0 / 80%);
}
#contenido-tarjetas .card {
	padding-left: 18px !important;
}

.contenedor_cvv{position: relative;}
.contenedor_cvv img {
    position: absolute;
    top: 5px;
    right: 5px;
}
/*label#costo_seleccionada_transferencia {*/
/*  font-size: 30px !important;*/
/*  font-weight: normal !important;*/
/*  line-height: 50px;*/
/*}*/

/***************************--SOLICITUD--***************************/
nav .nav-tabs .nav-link {
	border-top-left-radius: 0;
	border-top-right-radius: 1rem;
}

.btn-compartir-soli:active, .btn-compartir-soli:focus{
	outline: 0 !important;
}
.info_proyecto {
	transition: all .8s;
	position: relative;
}
.info_proyecto:after{
	content: '';
	border: 1em solid #fe500096;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	position: absolute;
	top: -22px;
	left: -9px;
	animation: animacion 2s linear infinite;
}
.info_proyecto:before{
	position: absolute;
	top: -14px;
}
@keyframes animacion{
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% { opacity: 1;}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

/***************************--TRABAJOS--***************************/
.text-badge {
	font-size: .75rem;
	vertical-align: middle;
}

.square::before {
	border-radius: 0;
}

.text-check input[type="checkbox"]:checked~.square::after {
	border-radius: 0;
}
.proyecto_destacado, .freelancer_destacado{
	border: 1px solid rgb(254 80 0) !important;
	background: rgba(254, 80, 0, 0.10) !important;
}
.freelancer_destacado{
	border-radius: 30px 30px 0 0;
}
/***************************--TRABAJOS--***************************/
.img-idiomas,
.img-idiomas2 {
	width: 90px;
	height: 90px;
	object-fit: cover;
}

.img-idiomas2 {
	width: 70px;
	height: 70px;
}
.btn-chat-card{
	left: 0;
	position: absolute;
	margin-top: -29px;
	font-size: 25px;
	color: #000;
}

.btn-chat-card:hover{
	color: #000;
}
.card-trabajo-post{
	min-height: 138px;
	place-content: center;
}
.card-trabajo-post > .btn-card-proyecto{
	color:#000;
	font-size: 50px;
}
.boton-ir-chat{
	right: 0px;
	top: -45px;
	color: #000000;
	font-size: 25px;
}
.boton-ir-chat:hover{
	color: #000;
}
#free-seleccionados{
	background-color: #f5f5f5;
	border-radius: 3px;
	min-height: 250px;
	max-height: 250px;
	overflow: auto;
}
.label-modal{
	font-size: 12px;
}
/***************************--CALIFICAR--***************************/
#calificar label {
	font-size: 20px;
}

#calificar input[type="radio"] {
	display: none;
}

#calificar label {
	color: grey;
}

#calificar .clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

#calificar-perfil label:hover,
#calificar-perfil label:hover ~ label {
	color: orange;
}

#calificar-perfil input[type="radio"]:checked ~ label {
	color: orange;
}


#calificar-perfil label {
	font-size: 20px;
}

#calificar-perfil input[type="radio"] {
	display: none;
}

#calificar-perfil label {
	color: grey;
}

#calificar-perfil .clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

#calificar-perfil label:hover,
#calificar-perfil label:hover ~ label {
	color: orange;
}

#calificar input[type="radio"]:checked ~ label {
	color: orange;
}
/***************************-- RANGO --***************************/
#rango-proyectos input[type=range] {
	-webkit-appearance: none;
	display: block;
	margin: 0;
	width: 90%;
}
#rango-proyectos input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	color: transparent;
	background: lightgray;
	border-radius: 999px;
	border: none;
}
#rango-proyectos input[type=range]::-moz-range-track {
	-webkit-appearance: none;
	width: 100%;
	height: 40px;
	color: transparent;
	background: lightgray;
	border-radius: 999px;
	border: none;
}
#rango-proyectos input[type=range]::-ms-track {
	-webkit-appearance: none;
	width: 100%;
	height: 40px;
	color: transparent;
	background: lightgray;
	border-radius: 999px;
	border: none;
}
#rango-proyectos input[type=range]::-ms-fill-lower {
	display: none;
}
#rango-proyectos input[type=range]::-ms-fill-upper {
	display: none;
}
#rango-proyectos input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	border-radius: 30px;
	background: var(--color-naranja);
	box-shadow: 0px 2px 10px -2px black(1);
}
#rango-proyectos input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 40px;
	width: 40px;
	border-radius: 30px;
	background: var(--color-naranja);
	box-shadow: 0px 2px 10px -2px black(1);
}
#rango-proyectos input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	height: 40px;
	width: 40px;
	border-radius: 30px;
	background: black;
	box-shadow: 0px 2px 10px -2px black(1);
}
.ticks {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}
.tick {
	position: relative;
	display: flex;
	justify-content: center;
	width: 1px;
	background: gray;
	height: 10px;
	line-height: 50px;
	margin-bottom: 20px;
}
.text-titulo-categoria{
	color: rgba(254, 80, 0, 0.71);
	font-size: 7vw;
}
.border-naranja{
	border-color: rgba(254, 80, 0, 0.71);
	margin: 25px;
}
.imagen-categoria{
	filter: grayscale(1);
}
.sec-freelancers{
	background-color: #EEF7FF;
	padding: 30px;
	border-radius: 15px;
}
.title-sec-freelancers{
	font-size: 45px;
	font-weight: 400;
}
.texto-naranja{
	color: #FE5000;
}
.borde-gris{
	border-color: rgba(183, 183, 183, 1);
}
.titulo-card-proyecto{
	font-size: 20px;
}
.texto-porque-usar-mextemps{
	font-weight: 200;
	font-size: 22px;
}
.sec-registro-fondo{
	background-image: url('../images/front/registro.webp');
	background-repeat: round;
	min-height: 200px;
}
.title-sec-registro-home{
	color: #ffffff;
	font-size: 35px;
}
.subtitle-sec-registro-home{
	color: #ffffff;
	font-size: 30px;
	font-weight: 300;
}
.opciones-mi-cuenta{
	background-color: #D9D9D9;
	z-index: 15;
	border-radius: 0 0 20px 20px;
}
.titulo-card-quienes-somos{
	font-weight: bold;
}
.contenido-card-quienes-somos{
	font-size: 12px;
}
.card-hover{
	transition: all .5s;
}
.card-hover:hover{
	transform: translateY(-10px);
}
.cross-color{
	color: rgba(254, 80, 0, 0.71);
}
.titulo-footer{
	font-size: 20px !important;
	line-height: 22px !important;
	font-weight: 700 !important;
	min-height: 50px;
}
.rate-reviews-small .estrella{
	font-size: 13px;
}
/***************************--RANGO DE PRECIO--*******************/
.flex{
	display: flex;
}
.f-wrap{
	flex-wrap: wrap;
}
.jcsb{
	justify-content: space-between;
}
.jcsa{
	justify-content: space-around;
}
.jcc{
	justify-content: center;
}
.aifs{
	align-items: flex-start;
}
.aic{
	align-items: center;
}
.w-100{
	width: 100%;
}

.m-m{
	margin: 20px;
}
.mb-m{
	margin-bottom: 20px;
}
.mt-s{
	margin-top: 10px;
}


.main-card{
	max-width: 25%;
	min-width: 300px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0,0,0,0.1)
}
.main-card-head{
	background-color: #00b7b4;
	padding: 15px 30px;
	border-radius: 10px 10px 0 0;
}
.cardhead-light{
	background-color: #f0fffb;
	border: 1px solid #00b7b4;
}
.main-card-ctt{
	padding: 20px 30px 30px;
	background-color: #fff;
}
.rubber-ipt{
	width: 200px;
	height: 2px;
	background-color: #ddd;
	position: relative;
}
.rubber-ipt-range{
	width: 200px;
	height: 2px;
	background-color: #00b7b4;
	position: relative;
}

.rubber-ipt-min,
.rubber-ipt-max{
	height: 16px;
	width: 16px;
	border-radius: 50%;
	position: absolute;

	background-color: #fff;
	border: 1px solid #00b7b4;
}

.rubber-ipt-min{
	transform: translate(-9px, -9px);
	left: 0;
}
.rubber-ipt-max{
	transform: translate(191px, -9px);
	left: 0;
}
.rubber-value-min{
	top:10px;
	transform: translateX(-10px);
}
.rubber-value-max{
	top:10px;
	right: 0;
	transform: translateX(10px);
}
.toast:not(.showing):not(.show) {
	opacity: 1 !important;
}
/* .cr-boundary{
	max-width: 300px;
	max-height: 300px;
	min-width: 300px;
	min-height: 300px;
} */
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #FE5000;
	color: #ffffff;
}
.modal-content{
	border-radius: 30px !important;
}
/***************************--FOOTER---***************************/
.title-footer{
	min-height: 65px;
}
footer .texto-derechos{
	font-size: 17px;
}
.sec-footer-enlaces{
	padding-bottom: 30px !important;
}
.p-8{
	padding: 4rem!important;
}
.contenedor-buscado{
	background-color: #000000;
}
.contenedor-buscado img{
	opacity: 0.7;
}
#buscador-slide option{
	font-size: 13px !important;
}
.text-facturados{
	font-size: 11px;
	margin-top: 20px;
}


/***************************--BLOG--***************************/
.resetar_filtrado{
	transition: all .6s; cursor:pointer;
}
.resetar_filtrado:hover i{
	transform: translateY(-2px);
	transition: all .6s;
}
/***************************--SOPORTE--***************************/
#limpiar_archivoSoporte{ display: none; }
output#resultado_imagenes img{ max-width: 150px; }
output#resultado_imagenes div{ margin: 0 .5rem 0 1rem; }

/*****************************CARRUSEL OWL****************************/
.owl-stage{
	padding-top: 10px;
}
.owl-prev {
	position: absolute;
	background: #FE5000 !important;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	top: 50%;
	z-index: 1000;
	left: 2%;
	cursor: pointer;
	color: #fff !important;
	margin-top: -27px;
	font-size: 20px !important;
}
.owl-next {
	position: absolute;
	background: #FE5000 !important;
	border-radius: 50px;
	top: 50%;
	width: 30px;
	height: 30px;
	z-index: 1000;
	right: 2%;
	cursor: pointer;
	color: #fff !important;
	margin-top: -27px;
	font-size: 20px !important;
}
.owl-prev:hover, .owl-next:hover {
	transition: all .4s;
	background-color: #FE5000 !important;
	color: #FFFFFF !important;
}
.mes-tachado {
	text-decoration: line-through; 
	color: #88929b; 
	font-size: 20px; 
	line-height: 20px;
	display: inline-block;
}
.mes-tachado.abajo, .text-month.abajo {
	display: block;
	font-size: 65% !important;
}
.box-pricing-item.most-popular .mes-tachado {
	color: #fff;
}

/*****************************CARRUSEL VISTA PROYECTOS (INTERIOR-PROYECTO.PHP)****************************/
.imagen_carrusel_proyectos{
	width: 100%;
	margin-bottom: -6px;
	max-height: 450px;
	height: 100%;
	object-fit: contain;
	border-radius: 20px;
}
.elim-img{
	width: 30px;
	height: 30px;
	background: var(--color-azul);
	border-radius: 50px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	transform: translate(-20px, 15px);
	cursor: pointer;
	color: var(--color-blanco);
}

.ajs-message.ajs-custom.ajs-visible{
	display: flex;
	align-items: center;
	place-content: center;
}

/*DETALLE PERFILES*/
.perfil-usuarios-freelancer .heading-image-rd {
	width: 160px;
}

.perfil-usuarios-freelancer .fila-uno {
	display: block;
	margin-bottom: 10px;
}

.perfil-usuarios-freelancer .heading-image-rd figure img {
	height: 150px;
	width: 150px;
}

.perfil-usuarios-freelancer .fila-dos {
	display: block;
}

.perfil-usuarios-freelancer .btn.btn-default {
	color: #ffffff;
	background-color: #FE5000;
}

.perfil-usuarios-freelancer #btnDescargar {
	/*border: 1px solid #ff5100;*/
	/*padding: 8px 15px;*/
	font-size: 14px;
	border-radius: 6px;
	display: block;
	/*text-align: center;*/
	margin: 0 auto;
}

.perfil-usuarios-freelancer .cv-port:hover {
	background: #ff5100;
	color: #fff;
}

.perfil-usuarios-freelancer #btnDescargar:hover {
	background: #ff5100;
	color: #fff;
}

.perfil-usuarios-freelancer .btn.btn-enlace {
	color: #333;
	text-decoration: underline;
	font-size: 14px;
	padding: 0;
	margin-top: 30px;
	text-align: left !important;
}

.perfil-usuarios-freelancer .insignias-lsitado {
	display: block;
	height: 60px;
}

.perfil-usuarios-freelancer .califica-frelancers .rate-reviews-small {
	display: inline-block;
}

.perfil-usuarios-freelancer .insignias-mt img {
	width: 60px;
}

.perfil-usuarios-freelancer .habilidades-perfiles {
	display: table;
}

.perfil-usuarios-freelancer .insignias-lsitado img {
	display: inline-block;
	width: 30px;
	margin: 0 10px;
}

.perfil-usuarios-freelancer .insignias-lsitado i {
	font-size: 30px;
}

.perfil-usuarios-freelancer .actividad-freelancer .left-info {
	display: block;
	text-align: left;
}

.perfil-usuarios-freelancer .actividad-freelancer .der-info {
	float: right;
	text-align: right;
	font-weight: bold;
}

.perfil-usuarios-freelancer .actividad-freelancer h6 {
	margin-bottom: 20px;
}

.perfil-usuarios-freelancer .actividad-freelancer .con-separador {
	margin-bottom: 20px;
}

.perfil-usuarios-freelancer .habilidades-perfiles, .perfil-usuarios-freelancer .que-idiomas-manejo .btn-tags-sm, .perfil-usuarios-freelancer .califica-frelancers .btn-tags-sm {
	background: #ffcfc5;
	color: #37404e;
	border-radius: 6px;
	padding: 8px 15px;
	font-size: 14px;
}

.perfil-usuarios-freelancer .califica-frelancers .card-job-top--post-time {
	color: #333;
}

.perfil-usuarios-freelancer .que-insignia-info {
	text-align: left;
}
.perfil-usuarios-freelancer .medallas-nivel {
	font-size: 40px;
	position: absolute;
}
.perfil-usuarios-freelancer .que-nivel-title {
	text-align: center !important;
	font-size: 21px;
	line-height: 24px;
	padding-left: 100px !important;
}

.perfil-usuarios-freelancer .btn-calificaciones {
	border: 1px solid #ff5100;
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 6px;
	display: inherit;
	text-align: center;
	margin: 0 auto;
}

.perfil-usuarios-freelancer .btn-calificaciones:hover {
	background: #ff5100;
	color: #fff;
}

.perfil-usuarios-freelancer .que-insignia-info p {
	display: block;
	text-align: left;
	padding-left: 60px;
}

.perfil-usuarios-freelancer .sueldo-x-hora {
	text-align: left;
	display: inline-block !important;
}
.insig-nivel-proyecto{
	max-height: 15px;
	vertical-align: middle;
	padding-right: 5px;
}

.perfil-usuarios-freelancer .sueldo-x-hora span {
	font-size: 20px;
	/*display: block;*/
	font-weight: 600;
	line-height: 26px;
}

.perfil-usuarios-freelancer .sueldo-x-hora small {
	font-size: 11px;
	padding-left: 5px;
}

.perfil-usuarios-freelancer .top-perfil-resumen .text-small {
	display: inline-block;
}

.perfil-usuarios-freelancer .top-perfil-resumen .rate-reviews-small {
	margin-left: 0px !important;
}

.perfil-usuarios-freelancer .top-perfil-resumen .h4 {
	font-size: 21px;
	/*margin-bottom: 20px !important;*/
	display: block;
}

.perfil-usuarios-freelancer .que-idiomas-manejo p.h4 {
	color: #333;
	text-transform: uppercase;
	line-height: 60px;
}

.perfil-usuarios-freelancer .rating-calificacion-clientes {
	display: inline-block;
}

.perfil-usuarios-freelancer .rating-calificacion-clientes span img {
	width: 14px;
}

.perfil-usuarios-freelancer .tiempo-comentarios {
	padding-left: 10px;
}

.perfil-usuarios-freelancer .tiempo-comentarios i {
	vertical-align: middle;
}

.perfil-usuarios-freelancer .titulo-comentarios, .separador-experiencias-freelancer .titulo-experiencias {
	margin-bottom: 20px !important;
}

.separador-experiencias-freelancer .titulo-experiencias a {
	color: #333;
	font-size: 18px;
}

.separador-experiencias-freelancer .titulo-experiencias a:hover {
	color: #FE5000;
}


.perfil-usuarios-freelancer .separador-comentarios-clientes {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.perfil-usuarios-freelancer .experiencias-freelancer-detalle {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.perfil-usuarios-freelancer .califica-frelancers .heading-border, .perfil-usuarios-freelancer .que-idiomas-manejo .heading-border {
	font-size: 21px;
}

.perfil-usuarios-freelancer .que-idiomas-manejo .heading-border::before {
	border: 0px;
}

.perfil-usuarios-freelancer .job-overview {
	background: #fff;
	border: 1px solid rgba(6, 18, 36, 0.4);
	border-radius: 40px;
}

.perfil-usuarios-freelancer .sidebar-shadow {
	border: 1px solid rgba(6, 18, 36, 0.4);
	border-radius: 40px;
}

.perfil-usuarios-freelancer .experiencias-freelancer-detalle .ver-detalles{
	display: block;
	margin: 10px 0 0 0;
	padding: 10px 20px;
	max-width: 210px;
	font-size: 14px;
}

.perfil-usuarios-freelancer .list-recent-jobs .card-job {
	border: 1px solid rgba(6, 18, 36, 0.1);
}


.perfil-usuarios-freelancer .cv-port {
	display: inline-block !important;
	margin-left: 10px !important;
}
.btn-naranja-active{
	background-color: var(--color-blanco) !important;
}
.p-44{
	padding: 44px !important;
}
/*.min-h-desc-paquetes{
	min-height: 220px !important;
}*/
.edit-form-experiencia{
	border: 2px solid #000000;
	background: #ffffff;
}
.mw-150{
	max-width: 150px !important;
}
@media (max-width: 980px) {
	/*.perfil-usuarios-freelancer .d-flex {*/
	/*    display: block !important;*/
	/*}*/
	.perfil-usuarios-freelancer .que-nivel-title {
		text-align: left !important;
		font-size: 18px;
		font-weight: bold;
	}
	.perfil-usuarios-freelancer .heading-image-rd {
		width: 100px;
	}
	.perfil-usuarios-freelancer .heading-image-rd figure img {
		height: 140px;
		width: 140px;
	}
	.perfil-usuarios-freelancer .heading-image-rd {
		width: 140px;
		float: none;
		display: block;
	}
	.perfil-usuarios-freelancer .heading-main-info {
		padding-left: 0px;
	}
}
@media (max-width: 991.9px){
	.tooltips .tooltiptext {
		top: -25px;
		left: 25%;
	}
	.tooltips .tooltiptext::after {
		right: 50%;
		margin-top: 22px;
		transform: rotate(270deg);
	}
}
.listado-paquetes .block-pricing .most-popular .acordion-plan-perfil .accordion-item h2 button {
	background: rgba(254, 80, 0, 0.10) !important; 
}